# Dependências do Node
/node_modules/
*/node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivos de ambiente (senhas, conexões)
.env

# Cache do sistema
.DS_Store
Thumbs.db
.Rhistory


/backend/dist
backend/package-lock.json
frontend/package-lock.json
backend/reports/
backend/src/certificados/certificado_1_5_1762263379624.pdf
backend/src/certificados/certificado_2_Treinamento Oper..pdf
backend/src/certificados/certificado_2_Palestra Motivacional_1762263653596.pdf
