@media(max-width: 991px){
    .header-controls{
        flex-direction: column;
        align-items:stretch !important;
        gap: 1rem !important;
        padding-bottom: 1rem;
    }
    .search-wrapper, #btn-modal-cad{
        margin:0;
        min-width: 100%;
    }
    .filter-wrapper{
        flex-direction: column;
        align-items: flex-start !important;
        width: 100%;
    }
    .filter-wrapper label{
        margin-bottom: 0.5rem;
    }
    .filter-wrapper select{
        width: 100%;
    }
    #btn-modal-cad{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}   