.login-page {
    color: white;
    background-color: white;
    background-size: cover;
}

h2 {
    font-size: 60px;
}

.login-page main {
    background-color: transparent;
    width: initial;
    align-items: center;
     
}

.login-page .container-principal {
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    min-height: 100vh;
}

.login-page .fundo-sombra {
    min-height: 100vh;
    backdrop-filter: blur(2px);
    background-color:var(--azul);
    display: grid;
    grid-template-rows: auto 1fr;
    width: 100%;
    padding-left: 1rem;
    
    padding-right: 1rem;
}

.login-page .logo-container {
    padding-top: 2rem;
    padding-bottom: 1rem;
    margin-top: -10vh;
}

.login-page #rowForm {
    width: 100%;
    padding-bottom: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 250px;
    display: flex;
}

.login-page .login-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.login-page .login-form h2 {
    margin-bottom: 1.5rem;
}

.login-page .form-group {
    margin-bottom: 2rem; 
}

.login-page .form-input {
    display: block;
    width: 100%;
    height: 70px;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5;
    color: white;
    background-color: transparent;
    background-clip: padding-box;
    border: 2px solid white;
    border-radius: 1rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.login-page .form-input::placeholder {
    color: white;
    opacity: 1;
}

.login-page .form-input:focus {
    color: white;
    background-color: rgba(0, 0, 0, 0.082);
    border-color: white;
    outline: 0;
    box-shadow: 0 0 0 2px rgba(13, 110, 253, .25);
}

.login-page .erro-mensagem {
    margin-bottom: 1rem;
    background-color: #ffc107;
    color: #dc3545;
    text-align: center;
    padding: 1rem 0.5rem;
    border-radius: 10px;
    font-weight: 600;
}

.login-page .btn-login {
    border-radius: 50px;
    display: grid;
    height: 80px;
    grid-template-columns: 1fr auto 1fr;
    width: 30%;
    margin-top: 1rem;
    align-items: center;
    padding: 0.5rem 0.7rem;
    color: white;
    background: transparent;
    border: 1px solid white;
    box-sizing: border-box;
    align-self: center;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
}

.login-page .btn-login:hover {
    background: transparent;
    border: 1px solid white;
}

.login-page .btn-login:hover #setaLogin {
    color: var(--azul-muito-escuro);
}

.login-page .btn-login:active {
    background-color: rgba(0, 0, 0, 0.082);
    border: 1.5px solid rgba(255, 255, 255, 0.377) !important;
    color:  rgba(255, 255, 255, 0.452);
}

.login-page .btn-login:active #setaLogin {
    color: var(--azul);
}

.login-page #entrar-btn-text {
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
}

.login-page #setaLogin {
    justify-self: end;
    color: var(--azul);
    display: flex;
    align-items: center;
}

.login-page #setaLogin i {
    font-size: 28px;
    display: flex;
    align-items: center;
}

@media (min-width: 576px) {
    .login-page #rowForm {
        padding-left: 5rem !important;
        padding-right: 5rem !important;
    }
}

@media (min-width: 768px) {
    .login-page #rowForm {
        padding-left: 9rem !important;
        padding-right: 9rem !important;
    }
}

@media (min-width: 992px) {
    .login-page .fundo-sombra {
        width: 58.333333%;
        background-color: transparent !important;
    }

    .login-page #rowForm {
        width: 66.666667%;
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }

    .login-page .fundo-sombra::before {
        content: "";
        position: absolute;
        inset: 0;
        background-color: var(--azul);
        z-index: -1;
        height: 100vh;
        clip-path: polygon(0% 0%, 100% 0%, 60% 100%, 0% 100%);
    }

    .login-page .btn-login {
        width: 40% !important;
    }
}
