@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

#divNotificacoes .notificacoes-wrapper {
  padding: 20px;
}

#divNotificacoes .search-bar {
  position: relative;
  display: flex;
  align-items: center;
  width: 400px;
  max-width: 400px;
  margin: 0 auto 20px auto;
}

#divNotificacoes .search-bar input {
  width: 100%;
  height: 45px;
  padding: 10px 55px 10px 20px;
  border-radius: 50px;
  border: none;
  background-color: #e5e5e5;
  font-size: 1rem;
  outline: none;
}

#divNotificacoes .search-bar .bi-search {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #888888;
  color: #ffffff;
  border-radius: 50%;
  padding: 8px;
  pointer-events: none;
}

#divNotificacoes .notification {
  display: flex;
  gap: 10px;
  width: 60%;
  border: 2px solid var(--blue, #1c1cff);
  border-radius: 8px;
  background: #f7f7f7;
  padding: 10px;
  margin: 0 auto 15px auto;
  transition: 0.3s;
  cursor: pointer;
}

#divNotificacoes .notification.inactive {
  opacity: 0.6;
  border: 1px solid #aaa;
}

#divNotificacoes .notification .icon {
  font-size: 22px;
  color: var(--blue, #1c1cff);
}

#divNotificacoes .notification .content strong {
  color: var(--blue, #1c1cff);
}

#divNotificacoes .notification .details {
  margin-top: 8px;
}

#divNotificacoes .buttons {
  display: flex;
  gap: 10px;
  margin-top: 8px;
}

#divNotificacoes .accept.notification {
  border: 2px solid #28a745;
  background: #fff;
  padding: 5px 15px;
  border-radius: 6px;
  font-weight: 600;
}

#divNotificacoes .reject.notification {
  border: 2px solid #dc3546bb;
  color: #c43442;
  background: #fff;
  padding: 5px 15px;
  border-radius: 6px;
  font-weight: 600;
}

#divNotificacoes .reject.icon {
  color: #c43442;
}

#divNotificacoes .concluded.notification {
  border: 2px solid #28a746a0;
  color: #11832b;
  background: #fff;
  padding: 5px 15px;
  border-radius: 6px;
  font-weight: 600;
}

#divNotificacoes .concluded.icon {
  color: #11832b;
}

#divNotificacoes .justificativa {
  margin-top: 8px;
  display: flex;
  gap: 5px;
}

#divNotificacoes .justificativa textarea {
  flex: 1;
  border-radius: 6px;
  border: 1px solid #ccc;
  padding: 4px;
}

#divNotificacoes .send {
  background-color: var(--blue, #1c1cff);
  color: white;
  border: none;
  border-radius: 6px;
  padding: 5px 10px;
  cursor: pointer;
}

#divNotificacoes .btn-confirmar {
  border: 2px solid #28a745;
  color: #28a745;
  background: #fff;
  border-radius: 8px;
  padding: 6px 12px;
  font-weight: 600;
}

#divNotificacoes .btn-confirmar:hover {
  background-color: #f0fff0;
}

#divNotificacoes .btn-recusar {
  border: 2px solid #dc3545;
  color: #dc3545;
  background: #fff;
  border-radius: 8px;
  padding: 6px 12px;
  font-weight: 600;
}

#divNotificacoes .btn-recusar:hover {
  background-color: #fff0f0;
}
