.btn-toggle-sidebar {
  display: none;
  position: fixed;
  bottom: 16px;
  left: 16px;
  z-index: 999;
  background: var(--azul);
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 10px;
  font-size: 1.4rem;

  box-shadow: -2px 2px 10px 0 rgba(0, 0, 0, 0.3), -2px 2px 5px 0 rgba(0, 0, 0, 0.3), inset -1px 1px 5px 0 rgba(255, 255, 255, 0.3);

  transition: left .45s ease;
}

#barra-lateral {
  background-color: var(--azul);
  color: white;
  padding: 1rem;
  width: 15%;
  min-width: 250px;

  box-shadow: -2px 2px 10px 0 rgba(0, 0, 0, 0.5), -2px 2px 6px 0 rgba(0, 0, 0, 0.3);

  transition: transform .4s ease, box-shadow .4s ease;
}

#barra-lateral #colab-info {
  font-weight: 500;
}

#barra-lateral #colab-img {
  width: 100%;
  height: auto;
  max-width: 80px;
}

#barra-lateral #colab-nome {
  text-align: center;
}

#barra-lateral nav > ul {
  row-gap: 15px;
}

#barra-lateral nav > ul > li {
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  column-gap: 22px;
  align-items: center;
}
#btn-logout{
  color: rgb(255, 0, 0);
}
#barra-lateral nav > ul > li > .bi::before {
  font-size: 28px;
}

#barra-lateral nav::-webkit-scrollbar {
  width: 10px;
}
#barra-lateral nav::-webkit-scrollbar-track {
  background: rgb(255, 255, 255, 0.067);
  border-radius: 7px;
}
#barra-lateral nav::-webkit-scrollbar-thumb {
  background: var(--azul-escuro);
  border-radius: 7px;
}

@media (max-width: 768px) {
  #barra-lateral {
    position: fixed;
    height: 100vh;
    top: 0;
    left: 0;
    transform: translateX(-100%);

    box-shadow: none;

    z-index: 998;
  }

  #barra-lateral.open {
    transform: translateX(0);
    box-shadow: -2px 2px 30px 0 rgba(0, 0, 0, 0.5), -2px 2px 10px 0 rgba(0, 0, 0, 0.3);
  }

  .btn-toggle-sidebar {
    display: block;
  }

  #barra-lateral.open ~ .btn-toggle-sidebar {
    left: calc(250px + 16px);
  }
}