<div id="adm-inicio" class="mx-5">
    <header class="d-flex flex-row mt-4 mb-3">
        <div class="inicio-content-selection d-flex flex-row">
            <div id="btn-colaboradores" class="btn ativo">Colaboradores</div>
            <div id="btn-eventos" class="btn">Eventos</div>
        </div>
        <input class="form-control w-25 search-icon mx-auto" type="search" name="pesquisaAdm" id="pesquisaAdm" placeholder="Pesquisar...">
        <button id="btn-modal-cad" class="btn" data-bs-toggle="modal" data-bs-target="#cadastroModal">Adicionar</button>
    </header>
    <div id="lista-colaboradores">
        
    </div>
</div>