<div id="fundo">
    <div id="cadastro">
        <h2>Cadastro de Colaborador</h2>
        <form action="" method="post">
            <div class="mb-3">
                <label for="nome">Nome:</label>
                <input class="form-control" type="text" name="nome" id="nome">
            </div>
            <div class="mb-3">
                <label for="email">Email:</label>
                <input class="form-control" type="email" name="email" id="email">
            </div>
            <div class="mb-3">
                <label for="cpf">CPF:</label>
                <input class="form-control" type="text" name="cpf" id="cpf">
            </div>
        </form>
    </div>
</div>